{{ $ := .root }}
{{ $page := .page }}

<!-- Custom twitter widget -->
<div class="row">
  <div class="col-12 col-lg-4">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}
    <p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">


      <a class="twitter-timeline" data-lang="en" data-height="1000" data-width="700" data-theme="light" href="https://twitter.com/JeanDenisB35?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
</div>
